.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0;
}

.app__characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: 120px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search__input {
  padding: 5px;
  box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 20%);
}
